{
  "presets": [
    ["@babel/env", {
      "modules": false
    }],
    "@babel/preset-react"
  ],
  "comments": true,
  "plugins": [
              "@babel/plugin-transform-runtime",
              "@babel/plugin-syntax-dynamic-import"
              ]
}